<div style="margin:20px;">
<h2>Admin Panel</h2>
  <div class="btn-group" >
    <a href="/admin"> <button type="button" class='btn btn-lg btn-raised btn-primary'>Technical Administration</button></a>
  </div>  
</div>
