.modal-body {
	margin-left: 140px;
	border-radius: 12px;
	width: 312px;
  height: 240px;
  @include media-breakpoint-down(sm) { 
  	margin: 0;
		height: 100%;
		width: 100%;
  }
}

.modal-footer {
	.btn-primary {
		width: 100%;
		height: 100%;
		padding: 0px !important;
    height: 48px;
	} 
}