
.profile-section[data-title="philosophy"] {
  .philosophy-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $text-body;
  }
}