.user-profile {
  padding-left: 7%;
  padding-right: 7%;
}

.profile-sections {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 150px auto auto; 
  padding-top: 20px;
  
  [data-title="badges"] {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  [data-title="donations-by-causes"] {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
  }
  [data-title="past-donations"] {
    grid-column: 8 / 11;
    grid-row: 1 / 4;
  }
  [data-title="philosophy"] {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  [data-title="favorite-organizations"] {
    grid-column: 4 / 8;
    grid-row: 2 / 4;
  }


// Still experimenting with these responsive designs. Will do more exploraion later. 
  @media all and (max-width: 900px){
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 150px auto auto; 
    
    [data-title="badges"] {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }
    [data-title="donations-by-causes"] {
      grid-column: 4 / 8;
      grid-row: 1 / 2;
    }
    [data-title="philosophy"] {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
    [data-title="favorite-organizations"] {
      grid-column: 4 / 8;
      grid-row: 2 / 4;
    }
    [data-title="past-donations"] {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }
  }

  @media all and (max-width: 650px){
    display: flex;
    flex-direction: column;
    
    [data-title="badges"] { 
      order: 0; 
      margin: 5px;
    }
    [data-title="philosophy"] { 
      order: 1;
      margin: 5px; 
    }
    [data-title="donations-by-causes"] { 
      order: 2; 
      margin: 5px;
    }
    [data-title="past-donations"] { 
      order: 3; 
      margin: 5px;
    }
    [data-title="favorite-organizations"] { 
      order: 4; 
      margin: 5px;
    }
  }

}

.profile-section__title{
  width: 296px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  color: $text-subtitle;
}

.profile-section__divider {
  border-top: solid 1.5px $element-toned-down;
  margin-top: 8px;
  margin-bottom: 12px;
}