///login page styleing

.login {
  &__card {
    margin-top: 80px;
    padding-top: 20px;
    margin-right: 20px;
    height: 376px;
    border-radius: 12px;
  }
  @include media-breakpoint-up(lg) {
    &__card {
      min-width: 350px;
      margin-right: 10vw;
      margin-top: 100px;
    }
  }
  &__card-title {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__heart-btn {
    color: white;
    background-color: $gp-yellow;
  }

  &__facebook-icon {
    color: white;
    background-color: $facebook-blue;
  }

  &__facebook-button {
    height: 48px;
    font-size: 1rem;
    color: white;
    background-color: $facebook-blue;
  }
  small {
    font-size: 10px;
    margin: 20px 0 2% 5%;
    float: right;
  }
  @include media-breakpoint-up(lg) {
    small {
      margin-right: 10vw;
    }
  }
}
