.policy {
  margin-top: 60px;
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }

  &__divider {
    &--faq {
      width: 192px;
      margin-top: 20px;
      transition-duration: 2s;
    }
  }
  
}
