<footer class="container-fluid footer-color text-center" style='direction: ltr'>
  <a href="#"> 2017 <i class='fa fa-copyright'></i> </a>
  <% if cu %>
<!--     <a href="/users/<%=cu['nick']%>">Me (<%=cu['nick']%>)</a> -->
    <!-- <a href="/logout">Log Out</a> -->
  <% end %>
    <% if true %>
      <a href="/about">About Us</a>    
      <a href="/contact">Contact Us</a>      
      <a href="/privacypolicy.htm">Privacy Policy</a>    
    <% end %>
  </span>
<link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Lato:300,400,700"> 
  
</footer>