<footer class="container-fluid footer-color text-center" style='direction: ltr'>
  <span> 2017 <i class='fa fa-copyright'></i> GivingProfiles.org
  <% if cu %>
    <a href="/users/<%=cu['nick']%>">Me (<%=cu['nick']%>)</a>
    <a href="/logout">Log Out</a>
  <% end %>
    <% if true %>
      <a href="/faq">FAQ</a>    
      <a href="/contact">Contact Us</a>      
      <a style="color:blue;" href="/admin/dashboard"> Admin </a>
    <% end %>
  </span> 
</footer>