<footer class="container-fluid footer-color text-center" style='direction: ltr'>
  <span> 2017 (c) <%= $app_name %>
  <% if cu %>
    <a href="/users/<%=cu['nick']%>">Me (<%=cu['nick']%>)</a>
    <a href="/logout">Log Out</a>
  <% end %>
    <% if false %>
      <a href="/contact">Contact Us</a>
      <a href="/about">About</a>    
      <a style="color:blue;" href="/admin/dashboard"> Admin </a>
    <% end %>
  </span> 
</footer>