<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
</style>

<script>
  window.cu = <%= cu.to_json %>;
</script>
<nav class="">
  <div class="container">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/" ><%#= $app_name %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right header-links">          
                <% if cu %>
                  <li><form action='/search' style='padding-top:13px'><input name='q' /></form></li>
                  <li><a href="/">Home</a></li>
                  <li><a href="/users/<%=cu[:nick]%>"><%=cu[:nick]%></a></li>
                  <li><a href='/settings'>My Settings</a></li>
                  <li><a href='/logout'>Logout</a></li>
                <% else %>                  
                  <li><a href='/login/foo'>Login</a></li>
                  <li><a href='/about'>About</a></li>                  
                  <li><a href='/contact'>Contact</a></li>
                <% end %>                
            </ul>
    </div>
  </div>
</nav>

