<style>
.homepage .w30 {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
}
</style>
<div class='homepage'>
  <% if cu %>
  <div class='ct'>
    <%= erb :'/feed/feed' %>
  </div>
  <% else %>
  <div class='col-md-12' style='margin-top:20px'>
  </div>
  <div class='col-md-8' style='zbackground-color:red; color: grey; border-right:1px solid grey'>
    <div style='margin-left:10%'>
      <h1> Char Star </h1>
      <div>
        <h3> <i class='fa fa-gift w30'></i> Track your giving </h3> 
        <h3> <i class='fa fa-group w30'></i> See what causes your friends care about </h3> 
        <h3> <img src='/img/coinbox.png' class=w30 /> Discover new charities </h3> 
      </div>
    </div>
  </div>
  <div class='col-md-4 ct' style='zbackground-color: blue'>
    <div>
      <button style='margin-top:40px' class="btn btn-lg <%=b1%>" onclick='fbLogin()'> Continue With Facebook </button>
    </div>
  </div>
  
  
  <% end %>
</div>