<%
default_text = "Dear Joanne,
Thank you very much for your recent donation on Global Giving to the Harvard Club of Boston, for the amount of $4,000.

As you now know, this humble root can have a major impact on women and children by providing them with sight- and life-saving vitamin A. I would like to now invite you to subscribe to our e-newsletter, WorldView, sent once a month, so you can learn more about how your support is helping HKI prevent blindness and reduce malnutrition for the most vulnerable around the world.

Our most recent edition on our orange-fleshed sweet potato program can be viewed by clicking here. You can sign up for the newsletter by clicking here.

I hope you will decide to stay in touch with us.

Best regards,

Maggie
Maggie Jacoby
Communications Coordinator
Helen Keller International
352 Park Avenue South, Suite 1200
New York, NY 10010
Phone #
Fax #"
%>

<style>
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

</style>
<div class='col-md-6'>
  <div class='card1'>
  <h1> Mails Tester </h1>

  <p> Paste the mail's hypothetical test to see what we can parse from it. Parsing and processing takes about 15 seconds.</p>

  <form method=post action='/incoming_mail'>
    <div><label>Email text:</label></div>
    <textarea id='incoming_mail_text' name=text rows=20 style='width:100%'><%= default_text %> </textarea>
    <div></div>
    <button type='button' class='submit_email btn btn-raised btn-primary' onclick="testMail()">Submit</button>
  </form>
  </div>
</div>

<div class='col-md-6'>
  <div class='card1'>
    <h1> Recent Results </h1>
    <% $get_text_data_results.all.reverse[0..1000].each do |result| %>
    <div>
      <%= result[:name] %>, <%= result[:amount] %>, <small>(<%= result[:created_at]%>)</small>
    </div>
    <% end %>
  </div>
</div>


<script>
function testMail() {
  $('.submit_email').html('-').addClass('spinner')
  $.post('/incoming_mail',{text: $("#incoming_mail_text").val()}).then(res=>{
    alert('Found name: '+res.name + ' and amount: '+res.amount);
    $('.submit_email').html('Submit').removeClass('spinner')
  })
}
</script>