/** { 
  color: black !important; 
  background-color: white !important; 
}*/
body, html {
  height: 100%; }

/*vars*/
/*universal classes*/
.fl {
  display: flex; }

.fl1 {
  flex: 1; }

.fl2 {
  flex: 2; }

.fl3 {
  flex: 3; }

.fl4 {
  flex: 4; }

.fl5 {
  flex: 5; }

.fl6 {
  flex: 6; }

.fr {
  float: right; }

.font-white {
  color: white; }

.ct {
  text-align: center; }

.centerContent {
  justify-content: center;
  align-items: center;
  display: flex; }

.bo1 {
  border: 1px solid black; }

.hidden {
  display: none; }

.nd {
  display: none; }

.noDisplay {
  display: none; }

.fullHeight {
  height: 100%; }

.underline {
  text-decoration: underline; }

.lightHover:hover {
  color: red;
  filter: brightness(150%);
  cursor: pointer; }

/*app classes*/
.profile-pic-1 {
  height: 60px;
  border-radius: 5px; }

.centerScreen {
  background-color: white;
  border: 20px solid whitesmoke;
  border-radius: 4px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%); }

.card1 {
  border: 1px solid black;
  min-height: 10px;
  background-color: white;
  margin: 10px auto;
  box-shadow: 3px 3px 3px #888888;
  padding: 10px; }

.form1 label {
  color: black;
  width: 280px;
  vertical-align: top; }
.form1 input, .form1 textarea {
  width: 300px;
  resize: vertical;
  border: 1px solid black; }

/*areas of the site */
.alert.alert-dismissible {
  text-align: center;
  font-weight: bold; }

.navbar-header, .navbar-collapse {
  background-color: #b53e16;
  background-color: #f3c937;
  color: green; }
  .navbar-header form i:hover, .navbar-collapse form i:hover {
    color: white !important; }
  .navbar-header a, .navbar-collapse a {
    color: #777; }
  .navbar-header .navbar, .navbar-collapse .navbar {
    color: #777 !important;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px; }
  .navbar-header .icon-bar, .navbar-collapse .icon-bar {
    border-top: 1px solid white; }
  .navbar-header .navbar-toggle, .navbar-collapse .navbar-toggle {
    background-color: black;
    border-radius: 4px; }
  .navbar-header .navbar-nav li a, .navbar-collapse .navbar-nav li a {
    color: black;
    /*background-color: white;*/ }

.profile .badges img {
  height: 50px;
  margin: 5px; }

/*SEARCH RESULTS*/
.search_results .facets label {
  display: block;
  margin: 10px;
  width: 200px;
  cursor: pointer; }
.search_results .facets input {
  float: left;
  margin-right: 10px; }
.search_results .orgs_results img {
  height: 20px; }
.search_results .orgs_results .name {
  width: 48%; }
.search_results .orgs_results .metadata {
  float: right;
  text-align: center; }
  .search_results .orgs_results .metadata .badges {
    float: left;
    margin: auto 10px; }
  .search_results .orgs_results .metadata .faces {
    float: right;
    margin: auto 10px; }

/*org page*/
.org_page .donors img {
  height: 80px; }

footer {
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightblue;
  background-color: #f3c937; }
  footer a {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    color: #777; }

/* PROFILE */
.fa-share {
  cursor: pointer; }
  .fa-share:hover {
    color: #3b5998; }

.donations_list .single_donation .fa-close {
  visibility: hidden; }
.donations_list .single_donation:hover .fa-close {
  visibility: visible; }
