* { 
  color: black !important; 
  background-color: white !important; 
}

body, html { height: 100%; }

/*vars*/  
$color1: lightblue;
$color2: #b53e16;
/*helper classes*/
.fl { display: flex }
.fl1 { flex:1; }
.fl2 { flex:2; }
.fl3 { flex:3; }
.fl4 { flex:4; }
.fl5 { flex:5; }
.fl6 { flex:6; }
.font-white {color: white;}
.ct { text-align:center; }
.centerContent { justify-content: center } /*TBD*/
.bo1 { border:1px solid black; }
.hidden {display: none;}
.fullHeight {height: 100%; }
.underline {text-decoration: underline}
.overlay {}

.centerScreen { 
  background-color:white;
  border:20px solid whitesmoke;
  border-radius: 4px;
  padding:20px;
  position: fixed; 
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  transform: translate(-50%, -50%);
}

.card1 {
  border:1px solid black;
  min-height:10px;
  background-color: white;
  margin:10px;
  padding: 10px;
}

.form1 {
  label {
    width: 100px;
    vertical-align: top;
  }  
  input, textarea {
    width:300px;
    resize: vertical;
    border: 1px solid black;
  }
}

/*areas of the site */
.navbar-header, .navbar-collapse {
  background-color: #b53e16;
  color: green;
  .navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .icon-bar {
    border-top:1px solid white;
  }
  .navbar-toggle {
    background-color: black;
    border-radius: 4px;
  }
  .navbar-nav li a {
    color: black;
    /*background-color: white;*/
  }
}

.profile {
  .name {

  }
  .badges {
    img {
      height: 50px;
      margin:5px;
    }
  }
}

/*SEARCH RESULTS*/
.search_results {
  .facets {
    a {
      display: block;
      margin: 10px;
      width: 200px;
    }
    input {
      float:left;
      margin-right:10px;
    }
  }
}

footer {
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color1 ;
}