// Color palette
$gp-yellow: #f3c937;
$gp-red: #ee4444;
$gp-teal: #22aa99;
$gp-purple: #7755cc;
$gp-pink: #ff88aa;
$gp-light-pink: #EA958C;
$gp-green: #99cc66;
$gp-blue: #1199ee;
$gp-blue2: #3C5A99;
$gp-orange: #F65633;

$theme-primary: $gp-yellow;
$theme-secondary: #333333;
$text-title: #000000;
$text-subtitle: #aaaaaa;
$text-body: #555555;
$element-toned-down: #bbbbbb;
$text-toned-down: #777777;
$text-light: #ffffff;
$facebook-blue: #3C5A99;
$error: $gp-red;
$light-hover: rgba(0, 0, 0, 0.1);

$color-animals:        $gp-teal; //unconfirmed
$color-community:      $gp-pink;
$color-education:      $gp-blue;
$color-environment:    $gp-green;
$color-health:         $gp-purple;
$color-human_rights:   $gp-blue2; //unconfirmed
$color-human_services: $gp-light-pink; //unconfirmed
$color-international:  $gp-yellow;
$color-religion:       $gp-orange; //unconfirmed
