<div class="<%= locals[:column_classes] %> header align-self-start">
  <div class="align-self-start">
    <div class="heading header__heading mb-2">
      <%= locals[:header_title] %>
    </div>
    <%= yield %>
  </div>
</div>
