<div class="header align-self-start <%= locals[:column_classes] %>">
  <div class="align-self-start">
    <div class="heading header__heading">
      <%= locals[:header_title] %>
    </div>
    <%= yield %>
  </div>
</div>
