.user-header {
  padding-left: 0;
  padding-right: 0;

  &__image {
    width: 16.66667%;
    max-width: 104px;
    max-height: 104px;
    float: left;
    object-fit: cover;
    @include media-breakpoint-down(md) {
      max-height: 52px;
      max-width: 52px;
    }

    &--xs {
      @include media-breakpoint-down(md) {
        max-height: 36px;
        max-width: 36px;
      }
    }
  }

  &__info {
    margin-left: 16px;

    &--margin-0 {
      margin-top: 8px;
      margin-left: 0;
    }

  }

  &__name {
    color: $text-title;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 4px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
    @include media-breakpoint-down(xs) {
      font-size: .7em;
    }
  }

  &__nav-wrapper {
    margin-left: auto;

    .edit-profile-button-container {
      
      display: none;
      .btn {
        width: 900px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 16px;
        display: flex;
        .btn {
          width: 296px;
        }
      }
      &--d-lg-none {
        display: block;
        @include media-breakpoint-up(lg) {
          display: none !important;
        }
      }
    }
  }

  &__location {
    color: $text-toned-down;
    margin-bottom: 4px;

  }

  &__social-networks {

    a {
      display: inline-block;
      color: $theme-secondary;
      font-size: 24px;
      margin-right: 8px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__text {
    p {
      display: inline-block;
      margin-left: 10%;
    }
  }

  &__options {
    margin-left: auto;
    margin-bottom: 16px;

    a {
      display: flex;
      cursor: pointer;
      color: $theme-secondary;
      height: 48px;
      width: 140px;
      border-radius: 4px;
      font-size: 18px;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-down(md) {
        height: 36px;
        width: 36px;
      }

      i.fa {
        font-size: 20px;
      }

      span {
        padding-left: 4px;
        line-height: 100%;

        @include media-breakpoint-down(md) {
          display: none;
        }

      }

      &.active, &:hover {
        text-decoration: none;
        background: $theme-secondary;
        color: $text-light;
      }
    }
  }
}
