<div class="user-home container px-0">

  <div class="row">
    <div class="col-5 col-lg-12 offset-2 home-section home-section--selected">
      MY NETWORK
    </div>
    <div class="col-5 d-lg-none home-section">
      FAVORITES
    </div>
  </div>
  <% @network_donations.each do |donation| %>
    <div class="w-100">
      <%= render "users/profile_sections/past_donation", donation: donation, show_donor: true %>
    </div>
  <% end %>

</div>
