.divider {
  border: solid 1px $element-toned-down;
}

.header {
  &--main {
    .header__heading {
      margin-bottom: 16px;
    }
  }

  @include media-breakpoint-up(lg) {
    &--main {
      margin-bottom: 12px;
    }
  }

  &__heading {
    margin-bottom: 4px;
  }

  &__divider {
    width: 44%;
    margin: 20px 0;
    @include media-breakpoint-down(lg) {
      width: 100%;
      margin: 20px 0 15px 0;
    }
  }
}
