<div class="container about-page">
  <div class="row about-intro">

      <div class="col-md-12">
          <h1 class="about-intro__title">We made Giving Profiles to help you help others</h1>
          <p class="about-intro__paragraph">Giving Profiles is a simple way to collect all your charitable donations in a single place. Use it to keep track of your giving, share your favorite charities with friends, and discover great new organizations to support. We are a team of researchers from Harvard and Yale who specialize in motivating people to do more good. We're not venture capitalists, or serial-startup-ists, and we're not here to make a buck. We're here to put our research into practice, and see if we can help you make the biggest difference you can.</p>
          <hr class="about-intro__line" />
      </div>

   </div>

   <div class="row team-members">

      <div class="col-md-2">
        <h2 class="team-members__title">OUR TEAM</h2>
      </div>

      <div class="col-md-10 pl-1">
        <div class="col-md-12 team-members__information">
          <h1>Erez Yoeli</h1>
          <p>Research scientist at MIT Sloan.  He applies insights from the social sciences to promote charitable giving, volunteering, resource conservation, medication adherence, etc.</p>
        </div>

        <div class="col-md-12 team-members__information">
          <h1 class="about-names">Dave Rand</h1>
          <p>Associate professor at MIT, where he uses math models, behavioral experiments, and computer simulations to gain insight on cooperation.</p>
        </div>

       <div class="col-md-12 team-members__information">
         <h1 class="about-names">Moshe Hoffman</h1>
         <p>Research scientist at MIT’s Media Lab, where he uses tools like game theory and behavioral experiments to uncover the hidden incentives that shape our sense of altruism and ethics.</p>
       </div>

       <div class="col-md-12 team-members__information">
         <h1 class="about-names">Martin Nowak</h1>
         <p>Director of Harvard University’s Program for Evolutionary Dynamics, and a recognized expert on the evolution of cooperation.</p>
       </div>

       <div class="row col-md-12 team-members-bottom">
         <div class="col-md-12">
           <hr class="team-members-bottom__line" />
         </div>
         <div class="col-md-3">
           <h1 class="team-members-bottom__name">Duo Yang</h1>
           <h4 class="team-members-bottom__role">Web Designer</h4>
         </div>

         <div class="col-md-8 ml-3">
           <p class="team-members-bottom__role-paragraph">School of Information, University of Michigan Specialty in User Experience Design & Research.</p>
         </div>

       <div class="row col-md-12">
         <div class="col-md-3">
           <h1 class="team-members-bottom__name">Cool Cats Coding</h1>
           <h4 class="team-members-bottom__role">Web Developer</h4>
         </div>

         <div class="col-md-8 ml-4">
           <!-- copy about cool cats needs to be written -->
           <p class="team-members-bottom__role-paragraph">(→ Please add your name/role/short bio here ←)</p>
         </div>

       </div>

     </div>

    </div>

  </div>

</div>
