<div class="container contact">
  <div class="row">
    <%= render 'partials/static_page_heading', locals: {header_title: "Contact Us", column_classes: "col-12 header--main"} do %>
      <div class="header__content">
        Use the form below to drop us an email.
      </div>
      <div class="divider header__divider"></div>
    <% end %>

  </div>

  <div class="row">
    <div class="col-12 col-lg-3 title-section mb-3 mb-lg-0">YOUR FEEDBACK</div>

    <div class="col-12 col-lg-8">
      <form>
        <div class="form-group">
          <label class for="name_input">Name</label>
          <input type="email" class="form-control" id="name_input" aria-describedby="emailHelp" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label class for="emailInput">Email</label>
          <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label class for="feedbBackTextarea">Feedback</label>
          <textarea class="form-control" id="feedbBackTextarea" aria-describedby="Feedback" placeholder="Enter your feedback" rows="4"></textarea>
        </div>
        <button type="submit" class="col-lg-6  col btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</div>
