<div class="container">
  <div class="row">
    <div class="col-md-1">
      <%= image_tag("home-profile_01.jpg", :alt => "rss feed", :class=> "rounded-circle") %>
    </div>
    <div class="col-md-3">
        <h1>Name Here</h1><br>
        <p>City here</p>
    </div>
    <div class="col-md-8">
      <button type="button" class="btn btn-light">Settings</button>
      <button type="button" class="btn btn-light">Profile</button>
      <button type="button" class="btn btn-dark">Home</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-4">
    <h2>My Network</h1>
  </div>

  <div class="col-md-4">
    <h2>My favorite organizations</h1>
  </div>
</div>
</div>
