<body class=cover-container>
<div clss="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
  <div class="row">
  <div class="card">
    <div class="card-body">
      <h2 class="card-subtitle mb-2 text-muted">Share your donations</h2>
      <p class="card-text">
        Share your donations with your friends and the community.
        See what charitable causes your friends care about.
      </p>
      <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login with Facebook</a>
    </div>
  </div>
  </div>
  </main>
</div>
</body>
