<!doctype html>
<html lang="en">
  <body class="cover-container">
    <div class="cover-container container-fluid d-flex w-50 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <div class="row">
          <div class="card col-sm">
            <div class="card-body">
              <i class="far fa-heart"></i>
              <h2 class="card-subtitle mb-2 text-muted">Share your donations</h2>
              <p class="card-text">Share your donations with your friends and the community.</p>
              <p class="card-text">See what charitable causes your friends care about.</p>
              <a href="#" class="w-100 p-3 btn btn-primary btn-lg active" role="button" aria-pressed="true"><i class="fab fa-facebook float-left">icon</i>Login with Facebook</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
