<section class="login cover-container">
  <div class="cover-container container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <div class="login__card card col-sm col-lg-3 ml-lg-auto">
        <div class="login__card-body card-body d-flex align-items-start flex-column">
          <a href="#" class="login__heart-btn btn" role="button" aria-pressed="true"><%= fa_icon "heart-o" %></a>
          <h5 class="login__card-title card-title mb-4 card-title">Share your donations.</h5>
          <p class="body-toned-down">Share your donations with your friends and the community.</p>
          <p class="body-toned-down">See what charitable causes your friends care about.</p>
          <div class="mt-auto w-100">
            <a href="#" role="button" aria-pressed="true">
              <div class="mt-auto p-2 bd-highlight btn btn-lg w-100 login__facebook-button">
                <div class="row row align-items-center">
                  <div class="col-2"><%= fa_icon "facebook-square", class: "login__facebook-icon fa-2x" %></div>
                  <div class="col">Login With Facebook</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm ml-xl-auto">
        <small class="text-muted">Photo by
          <a href="https://unsplash.com/@perrygrone" target="_blank">Perry Grone</a>
          on
          <a href="https://unsplash.com/" target="_blank">Unsplash</a>
        </small>
      </div>
    </main>
  </div>
</section>
