default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: giving_profiles_development
  username: #STUB
  password: #STUB

test:
  <<: *default
  database: giving_profiles_test
  username: #STUB
  password: #STUB

production:
  <<: *default
  database: giving_profiles_production
  username: #STUB
  password: #STUB
