<div class="profile-section" data-title="<%= title.downcase.parameterize %>">

  <span class="profile-section__title">
    <%= title %>
  </span>
  <hr class="profile-section__divider" />
  <%= yield %>

</div>
