<section id='add_donation_form' class=''>
  <h3> Record a Giving </h3>

  <form action='/donations' method='post'>
    $ <input name='amount' type=number placeholder=00.00 autofocus>
    to
    <input class='ac_orgs' name='org_name' placeholder="Organization Name">
    <button class='<%=b1%>'> Submit </button>
    <!-- <button type=button onclick=toggleDiv('#add_donation_form')> Cancel </button> -->
  </form>
</section>

<script>
</script>