<div class='ct'>
  <h3> Donations List </h3>
  <% donations.each do |don| %>
  <div>
    <a class='underline' href='/orgs/<%=don[:org_id]%>'><%= don[:org_name] %></a>, <%= don[:amount] %>
  </div>  
  <% end %>
</div>