<%
  total = causes_hash.values.inject { |a, b| a + b } * 1.1
%>

<h4> My Donations By Cause </h4>
<div style='width:100%; margin-top:10px'>
<% causes_hash.each_pair do |k,v| %>
  <% 
    width = v/total.to_f*100
    color = Digest::MD5.hexdigest(k)[0..5]
    %>
  <span class='has_tooltip' style='width: <%=width%>%; background-color:#<%=color%>; color:white; font-weight: bold; padding:10px; display: inline-block; border:1px solid black' title="<%= k.titleize %>"> <img src='<%="/img/cause_icons/#{k}.png"%>' style='height:40px; margin-right: 10px; mix-blend-mode: multiply;
'></span>
<% end %>
</div>