<section class='profile'>
  <h1> The profile of <%=user[:nick]%> </h1>

  <div class=fl>
    <div class='card1 fl2'>
      <div class='fl bo1' style='height:300px'>
        <img src='/img/face.jpg' style='width:200px'/>
      </div>
      <div class='name'> Matt M. </div>
      <div class='address'> Cambridge, MA </div>
    </div>

    <div class='card1 fl6'>
      <% if user[:_id] == cuid %>
        <%= erb :'/users/add_donation_form' %> 
      <% end %>
    </div>

    <div class='card1 fl2'>
      <%= erb :'/users/donations_list', locals: {donations: user_donations(user[:_id])} %>
    </div>
  </div>
</section>