<head>
  <title><%=html_title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->  
  <link rel="shortcut icon" href="/img/smiley.jpg" />
  <style>
  body, html { height: 100%; }
  footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
  }
  </style>
  <%= erb :"layout/css_files" %>      
</head>