<head>
  <title><%=html_title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->  
  <%= erb :"layout/css_files" %>    
  <%= erb :'layout/js_scripts'%>  
</head>