<head>
  <title><%=html_title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->  
  <link rel="shortcut icon" href="/img/smiley.jpg" />
  <meta property="og:title" content="<%=pr[:og_title] || 'GivingProfiles - A Charity-Based Social Network'%>"/>
  <meta property="zog:image" content=""/>
  <meta property="og:site_name" content="Giving Profiles"/>
  <meta property="og:description" content="<%=pr[:og_desc]%>">
  <style>
  
  </style>
  <%= erb :"layout/css_files" %>      
</head>