.user-profile-edit {
  .profile-section[data-title="favorite-organizations"] {
    .fav-org {
      margin-bottom: 20px;
      &__header {
        display: flex;
        margin-left: -50px;
        .fav-org__name_and_type {
          margin-left: 20px;
          .fav-org__name {
            color: $text-title;
          }
          .org-type-oval {
            margin-left: 0px;
          }
        }
        .favorite-text {
          font-size: 12px;
          border-radius: 4px;
          background-color: $theme-secondary;
          align-self: flex-start;
          padding: 5px 15px 5px 15px;
          color: $text-light;
          margin-left: auto;
        }
      }
      &__description {
        height: 75px;
        resize: none;
        margin-top: 5px;
      }

    }
  }
}