// Base CSS
@import "base/normalize";
@import "bootstrap";
@import "font-awesome";
@import "helpers/variables";
@import "base/color_and_text_styles";
@import "base/org_types";
@import "base/components";

// Layouts CSS
@import "layouts/application";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/user_header";
// Pages CSS
@import "pages/about";
@import "pages/home";
@import "pages/policy";
@import "pages/login";
// User CSS
@import "users";
@import "users/home";
