<style>
.about {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #555f77;
}
.middle_text {
  max-width: 60%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.about p {
  font-size: 16px;
  margin-bottom:40px;
  margin-top:20px;
  font-weight: 400;
}
</style>
<div class='card1 ct about' >

<h1> ~ Our Mission ~ </h1>
<p style='font-size:18px'> We made Giving Profiles to help you help others. </p>
<h2> About </h2>

<p class='middle_text'>
Giving Profiles is a simple way to collect all your charitable donations in a single place. Use it to keep track of your giving, share your favorite charities with friends, and discover great new organizations to support.  

We are a team of researchers from Harvard and Yale who specialize in motivating people to do more good.  We're not venture capitalists, or serial-startup-ists, and we're not here to make a buck.  We're here to put our research into practice, and see if we can help you make the biggest difference you can.
</p>

<h3> And what about my data?  </h3>
<p> We will never share your giving data with anyone. Period.</p>


</div>