<header class='page-header'>

  <div class='logo'>
    <a href="/">GIVING PROFILES</a>
  </div>

  <!-- This is just a place holder for now. -->
  <div class='header-search'>
    <%= fa_icon "search", text: "Search..." %>
  </div>

</header>
