<header class="page-header  <%= 'page-header--login' if login_page? %>">

  <div class='logo'>
    <a href="/">GIVING PROFILES</a>
  </div>

  <!-- This is just a place holder for now. -->
  <div class='header-search'>
    <%= form_tag(search_path, method: "get") do %>

      <%= text_field_tag :query, nil, placeholder: "Search...", class: "form-control"%>

      <%= fa_icon "search" %>
    <% end %>
  </div>

</header>
