<div class="container" id="user-profile">
  <div class="row">
    <div class="col-md-1">
      <div class="user-profile-image">
      <%= image_tag("home-profile_01.jpg", :alt => "rss feed", :class=> "rounded-circle") %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="user-profile-header">
        <h1>Name Here</h1><br>
      </div>
      <div class="user-profile-text">
        <p>City here</p>
    </div>
    </div>
    <div class="col-md-8">
      <div class="user-profile-buttons">
      <button type="button" class="btn btn-light">Settings</button>
      <button type="button" class="btn btn-light">Profile</button>
      <button type="button" class="btn btn-dark">Home</button>
    </div>
  </div>
</div>
